<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.0" targetFramework="net48" />
  <package id="FluentAssertions" version="6.7.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.21.5" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.47.0" targetFramework="net48" />
  <package id="Moq" version="4.18.2" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Polly" version="7.2.3" targetFramework="net48" />
  <package id="Relativity.DataExchange.Client.SDK" version="1.17.7" targetFramework="net48" />
  <package id="Relativity.Kepler" version="2.15.0" targetFramework="net48" />
  <package id="Relativity.Kepler.Client.SDK" version="2.14.4" targetFramework="net48" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net48" />
  <package id="Relativity.ObjectManager" version="12.1.171.20" targetFramework="net48" />
  <package id="Relativity.OutsideIn" version="2022.6.1" targetFramework="net48" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="3003.1.0" targetFramework="net48" />
  <package id="Relativity.Telemetry.Services.Interface" version="3003.0.2" targetFramework="net48" />
  <package id="Relativity.Transfer.Client" version="7.4.10" targetFramework="net48" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>